<div class="main-page">
  <h1><b>Curriculum Vitae</b></h1>
  <div class="cv-accordion">
  <div *ngFor="let category of categories" class="category">
    <div class="category-header" (click)="toggleCategory(category)">
      <h2>{{ category.title }}</h2>
      <div class="expand-btn">{{ category.open ? '▲' : '▼' }}</div>
    </div>
    <div class="category-body" *ngIf="category.open">
      <div *ngFor="let item of category.section" class="item">
          <h3>{{ item.title }}</h3>
          <p>{{item.text}}</p>
    </div>
  </div>
</div>

</div>
