<div class="main-page">
  <h1><b>curriculum vitae</b></h1>
  <div class="cv-accordion">
    @for (category of categories; track category) {
      <div class="category">
        <div class="category-header" (click)="toggleCategory(category)">
          <h2>{{ category.title.toLowerCase() }}</h2>
          <div class="expand-btn">{{ category.open ? '▲' : '▼' }}</div>
        </div>
        @if (category.open) {
          <div class="category-body">
            <!-- SKILLS -->
            @if (category.title.toLowerCase() === 'skills') {
              <div>
                @for (skillCat of category.skillCategories; track skillCat) {
                  <div class="skill-category">
                    <h3>{{ skillCat.title.toLowerCase() }}</h3>
                    @for (item of skillCat.items; track item) {
                      <div class="progress-item">
                        <!-- de facut fontul de la desc mai. mic -->
                        <div class="skill-container">
                          <strong class="skill-title">{{ item.title.toLowerCase() }}</strong><i>{{item.description.toLowerCase()}}</i>
                        </div>
                      </div>
                    }
                  </div>
                }
              </div>
            }
            <!-- LANGUAGES -->
            @if (category.title.toLowerCase() === 'languages') {
              <div>
                @for (item of category.section; track item) {
                  <div class="progress-item">
                    <div class="progress-title">{{ item.title.toLowerCase() }}</div>
                    <div class="progress-percent" [style.width]="item.percentage"><strong>{{ item.level }}</strong></div>
                  </div>
                }
              </div>
            }
            <!-- EVERYTHING ELSE -->
            @if (category.title.toLowerCase() !== 'skills' && category.title.toLowerCase() !== 'languages') {
              <div>
                @for (item of category.section; track item) {
                  <div class="item">
                    <div class="section-title-container">
                      <h3>{{ item.title.toLowerCase() }}</h3>
                      <p class="item-period">{{ item.period }}</p>
                    </div>
                    <p class="section-description">{{ item.text }}</p>
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
