<div class="main-page">
  <div class="marquee">
    <div class="track">
      <span class="c1">hire me</span>
      <span class="c2">hire me</span>
      <span class="c3">hire me</span>
      <span class="c1">hire me</span>
      <span class="c2">hire me</span>
      <span class="c3">hire me</span>
      <span class="c1">hire me</span>
      <span class="c2">hire me</span>
      <span class="c3">hire me</span>
    </div>
    <div class="track">
      <span class="c1">hire me</span>
      <span class="c2">hire me</span>
      <span class="c3">hire me</span>
      <span class="c1">hire me</span>
      <span class="c2">hire me</span>
      <span class="c3">hire me</span>
      <span class="c1">hire me</span>
      <span class="c2">hire me</span>
      <span class="c3">hire me</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
