:host {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 4em;
  overflow-x: hidden;
  justify-content: center;
}
.projects-container{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
}
.projects-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.title-page{
  display: flex;
  justify-content: space-between;
}
.card-container{
    margin: 0em 1em;
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.title-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skull-icon {
  color: var(--passion-red); /* Dark red color */
  opacity: 0;
  transform: translateX(-5px) scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-right: 0.4em; /* spacing from text */
  margin-left: 0.4em;
}

.poison {
  display: flex;
  align-items: center;
}

.poison:hover .skull-icon {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.poison:hover .poison-text {
  color: var(--light-green);
  transform: scale(1.05);
}
