<div class="projects-page">
    <div class="title-projects">
        <h2>pick your </h2>
        <div class="poison">
            <i class="fas fa-skull skull-icon"></i>
            <h2 class="poison-text"> poison</h2>
            <i class="fas fa-skull skull-icon"></i>
        </div>
       
    </div>
    
    <div class="projects-container">
    <app-category-card title="digital builds" subtitle="the projects that (kinda) contain code" icon="code" class="card-container"></app-category-card>
    <app-category-card title="visual stories" subtitle="posters, covers & all the pixels in between" icon="brush"class="card-container"></app-category-card>
    <app-category-card title="moving frames" subtitle="edits, reels & animated chaos" icon="movie"class="card-container"></app-category-card>
    <app-category-card title="original tracks" subtitle="where ideas turned into songs" icon="music_note"class="card-container"></app-category-card>
</div>

</div>
