<div class="coming-soon">
  coming soon
</div>
<!-- 
<div class="projects">
  <app-project-card
    title="UMF Quiz"
    description="An interactive quiz app built for med students."
    [tags]="['#webdesign', '#frontend', '#angular']"
    link="https://github.com/you/umf-quiz"
    imageFolder="umf-quiz"
  >
  </app-project-card>
  <app-project-card
    title="UMF Quiz"
    description="An interactive quiz app built for med students."
    [tags]="['#webdesign', '#frontend', '#angular']"
    link="https://github.com/you/umf-quiz"
    imageFolder="umf-quiz"
  >
  </app-project-card>
  <app-project-card
    title="UMF Quiz"
    description="An interactive quiz app built for med students."
    [tags]="['#webdesign', '#frontend', '#angular']"
    link="https://github.com/you/umf-quiz"
    imageFolder="umf-quiz"
  >
  
  </app-project-card>
  <app-project-card
    title="UMF Quiz"
    description="An interactive quiz app built for med students."
    [tags]="['#webdesign', '#frontend', '#angular']"
    link="https://github.com/you/umf-quiz"
    imageFolder="umf-quiz"
  >
  
  </app-project-card>
</div>
 -->
